body {
    &.woocommerce-checkout {
        #content {
            .ast-container {
                form {
                    &.woocommerce-checkout {
                        #tgpc_enable_checkout_gift_wrapper_field {
                            label {
                                &.checkbox {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    font-size:18px ;
                                    .tgpc-enable-checkout-gift-wrapper--label_icon {
                                        height: 30px;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
                .so-offer-top-heading{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .text {
                        font-size: 24px;
                        color: #e0ae3f;
                        font-weight: 500;
                        margin-bottom: 22px;
                        padding: 20px 0;
                    }
                    .skip_link{
                        a{
                            font-size: 24px;
                            color: #e0ae3f;
                            font-weight: 500;
                            margin-bottom: 22px;
                            padding: 20px 0;
                        }
                    }                
                }
            }
        }
    }
}
